.Header {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  box-shadow: #777 0 0.5rem 1.25rem;
}

.Header__Title {
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
}
